@model IEnumerable<WorkFlowManagement.Models.QPaper>
@{
    ViewBag.Title = "Question Papers";
    ViewBag.QuestionPapersActive = "active";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h4 class="card-title ">@ViewBag.Title</h4>
                    </div>
                    <div class="col-6">
                        
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead class="text-primary">
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Subject
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    File
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Added Date
                                </th>
                                <th>
                                    Added By
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1; }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@i</th>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.Subject
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                        <a href="@item.Path" target="_blank">
                                            View
                                        </a>
                                    </td>
                                    @if (item.Status == 0)
                                    {
                                        <td class="text-warning">
                                            Approval Pending!
                                        </td>
                                    }
                                    else if (item.Status == 1)
                                    {
                                        <td class="text-success">
                                            Approved!
                                        </td>
                                    }
                                    else if (item.Status == 2)
                                    {
                                        <td class="text-danger">
                                            Declined!
                                        </td>
                                    }
                                    <td>
                                        @item.DateTime.ToLongDateString()
                                    </td>
                                    <td>
                                        F-@item.FacultyID - @item.FacultyName
                                    </td>
                                    <td>
                                        @if (item.Status == 0)
                                        {
                                            <div class="dropdown">
                                                <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Update Status
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="#" onclick="ApproveThis('@item.ID')">Approve</a>
                                                    <a class="dropdown-item" href="#" onclick="DeclineThis('@item.ID')">Decline</a>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <span class="text-muted">No Action Required</span>
                                        }
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });

        function ApproveThis(id) {
            if (confirm('Are you sure you want to approve this Question Paper?')) {
                window.location.replace("/Hod/UpdateQPapersStatus/"+id+"?status=1");
            }
        }

        function DeclineThis(id) {
            if (confirm('Are you sure you want to decline this Question Paper?')) {
                window.location.replace("/Hod/UpdateQPapersStatus/"+id+"?status=2");
            }
        }

    </script>
    @{
        int Notification = 0;
        try
        {
            /*
             * try block to check if Session["Notification"] exist
             * if exist then convert  string to int
             */
            Notification = Convert.ToInt32(Session["Notification"]);
        }
        catch
        { }

        if (Notification == 1)
        {
            <script>
                SuccessAlert('Question status updated successfully!');
            </script>
            Session["Notification"] = null;
        }
        else if (Notification == 2)
        {
            <script>
                ErrorAlert();
            </script>
            Session["Notification"] = null;
        }
    }
}